{% extends 'base.html' %}
{% block content %}
<h4> PAGINA PRINCIPAL </h4>
<a href="{% url 'usuarios' %}" class="link-primary">Ir a Usuarios</a>
<a href="{% url 'tareas' %}" class="link-primary">Ir a Tareas</a>
{% endblock content %}