{% extends 'base.html' %}
{% block content %}
    <div class="container mt-3">
        
      <a href="{% url 'index' %}" class="btn btn-secondary">VOLVER A PAG. PRINCIPAL</a>

        {% for message in messages %}
          <p class='alert alert-success mt-3'> {{ message }} </p> 
        {% endfor %}
        

        {% if tarea %}

        <form method="POST" action="{% url 'actualizar_tarea' tarea.id %}" autocomplete="off">
          {% csrf_token %}
          <div class="form-group mb-3">
            <label>Nombre</label>
            <input type="text" class="form-control" name="nombre" required value="{{tarea.nombre}}">
          </div>

          <div class="form-group mb-3">
              <label>Descripción</label>
              <textarea class="form-control" rows="3" name="descripcion" required>{{tarea.descripcion}}</textarea>
            </div>

            <div class="form-group mb-3">
                <label>Fecha Límite</label>
                <input type="date" class="form-control" name="fechaLimite" required value="{{tarea.fechaLimite}}" required>
              </div>

          <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">ACTUALIZAR</button>
            <a href="{% url 'tareas' %}" class="btn btn-secondary">CANCELAR</a>
          </div>
      </form>

        {% else %}
        <form method="POST" action="{% url 'guardar_tarea' %}" autocomplete="off">
            {% csrf_token %}
            <div class="form-group mb-3">
              <label>Nombre</label>
              <input type="text" class="form-control" name="nombre" required>
            </div>

            <div class="form-group mb-3">
              <label>Descripción</label>
              <textarea class="form-control" rows="3" name="descripcion" required></textarea>
            </div>

              <div class="form-group mb-3">
                <label>Fecha Límite</label>
                <input type="date" class="form-control" name="fechaLimite" required>
              </div>
              
              <div class="form-group mb-3">
                <label>Asignar Usuario</label>
                <select class="form-select" id="usuario" name="usuario">
                  <option value="" selected disabled hidden>- Seleccione un Usuario -</option>
                                    {% for u in usuarios %}
                                    <option value="{{ usuario.id }}" selected>
                                      {{ u.apellidos }} {{ u.nombres }}
                                    </option> 
                                    
                                  {% endfor %}

                </select>
              </div>

            <div class="text-center mt-4">
              <button type="submit" class="btn btn-primary">GUARDAR</button>
              <a href="{% url 'tareas' %}" class="btn btn-secondary">CANCELAR</a>
            </div>
        </form>

        {% endif %}
        <div class="mt-5">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Fecha Límite</th>
                <th scope="col">Terminada</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for t in tareas %}
              <tr>
                <td>{{ t.nombre }}</td>
                <td>{{ t.descripcion }}</td>
                <td>{{ t.fechaLimite }}</td>
                <td>{% if t.terminada %} SI
                    {% else %} NO
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'terminar_tarea' t.id %}" class="btn btn-success">Terminar</a>
                    <a href="{% url 'editar_tarea' t.id %}" class="btn btn-warning">Editar</a>
                    <a href="{% url 'eliminar_tarea' t.id %}" class="btn btn-danger">Eliminar</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>

    {% endblock content %}


