{% extends 'base.html' %}
{% block content %}
    <div class="container mt-3">
        
      <a href="{% url 'index' %}" class="btn btn-secondary">VOLVER A PAG. PRINCIPAL</a>

        {% for message in messages %}
          <p class='alert alert-success mt-3'> {{ message }} </p> 
        {% endfor %}
        

        {% if usuario %}

        <form method="POST" action="{% url 'actualizar_usuario' usuario.id %}" autocomplete="off">
          {% csrf_token %}
          <div class="form-group mb-3">
            <label>Apellidos</label>
            <input type="text" class="form-control" name="apellidos" required value="{{usuario.apellidos}}">
          </div>

          <div class="form-group mb-3">
            <label>Nombres</label>
            <input type="text" class="form-control" name="nombres" required value="{{usuario.nombres}}">
          </div>

          <div class="form-group mb-3">
            <label>Correo Electrónico</label>
            <input type="text" class="form-control" name="correo_electronico" required value="{{usuario.correo_electronico}}">
          </div>

          <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">ACTUALIZAR</button>
            <a href="{% url 'usuarios' %}" class="btn btn-secondary">CANCELAR</a>
          </div>
      </form>

        {% else %}
        <form method="POST" action="{% url 'guardar_usuario' %}" autocomplete="off">
          {% csrf_token %}
          <div class="form-group mb-3">
            <label>Apellidos</label>
            <input type="text" class="form-control" name="apellidos" required >
          </div>

          <div class="form-group mb-3">
            <label>Nombres</label>
            <input type="text" class="form-control" name="nombres" required >
          </div>

          <div class="form-group mb-3">
            <label>Correo Electrónico</label>
            <input type="text" class="form-control" name="correo_electronico" required>
          </div>

          <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">GUARDAR</button>
            <a href="{% url 'usuarios' %}" class="btn btn-secondary">CANCELAR</a>
          </div>
      </form>

        {% endif %}
        <div class="mt-5">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Apellidos</th>
                <th scope="col">Nombres</th>
                <th scope="col">Correo Electrónico</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for u in usuarios %}
              <tr>
                <td>{{ u.apellidos }}</td>
                <td>{{ u.nombres }}</td>
                <td>{{ u.correo_electronico }}</td>
                <td>
                    <a href="{% url 'editar_usuario' u.id %}" class="btn btn-warning">Editar</a>
                    <a href="{% url 'eliminar_usuario' u.id %}" class="btn btn-danger">Eliminar</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>

    {% endblock content %}

